<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Cafe List</h1>
    <table>
        {% for cafe in cafes %}
        <tr>
            <td><a href="/cafelist/{{cafe.pk}}">{{cafe.name}}</a></td>
            <td>{{cafe.content}}</td>
            <td>{{cafe.publishedDate}}</td>
            <td>{{cafe.modifiedDate}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>